.features {
    display: flex;
    justify-content: space-between;
    margin: 80px auto 0 auto;
}

.features .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border: 1px solid rgba(245, 250, 147, 1);
    border-radius: 32px;
    max-width: 317px;
    width: 100%;
    padding: 32px;
}

.features .card .pic-area1 {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 24px;
    max-width: 253px;
    width: 100%;
}

.features .card .pic-area1 .pic-area {
    max-width: 80px;
    width: 100%;
}

.features .card .pic-area2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    max-width: 253px;
    width: 100%;
}

.features .card .pic-area2 .pic-area {
    max-width: 80px;
    width: 100%;
}

.features .card .pic-area3 {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-bottom: 24px;
    max-width: 253px;
    width: 100%;
}

.features .card .pic-area3 .pic-area {
    max-width: 80px;
    width: 100%;
}

.features .card .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    max-width: 253px;
    width: 100%;
}

.features .card .content .title {
    font-family: Manrope;
    font-size: 42px;
    font-weight: 700;
    line-height: 54px;
    color: rgba(255, 255, 255, 1);
}

.features .card .content .description {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);
}