.header {
    max-width: 1018px;
    width: 100%;
    margin: 64px auto 0 auto;
    display: flex;
    justify-content: space-between;
    background: rgba(51, 51, 51, 1);
    border-radius: 32px;
}

.header .logo {
    display: flex;
    margin: 16px 24px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header .logo .logo-buttons {
    max-width: 754px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header .logo .logo-buttons a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.header .logo .logo-buttons .logo-links {
    display: flex;
    max-width: 191px;
    width: 100%;
    justify-content: space-between;
    background: rgba(245, 250, 147, 1);
    border-radius: 16px;
}

.header .logo .logo-buttons .logo-links .logo-link {
    display: flex;
    width: 100%;
    justify-content: center
}

.header .logo .logo-buttons .logo-links .logo-link .logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 4px;
}

.header .logo .logo-buttons .logo-links .logo-link .logo .text-logo {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
}

.header .logo .logo-buttons .buttons {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    color: rgba(0, 0, 0, 1);
}

.header .logo .logo-buttons .buttons .button {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: 27.32px;
}

.header .logo .logo-buttons .buttons .button a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.header .logo .logo-buttons .buttons .button a:hover {
    color: rgba(245, 250, 147, 1);
}

.header .logo .login {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 56px;
    width: 100%;
    max-height: 40px;
    height: 100%;
}

.header .logo .login a {
    text-decoration: none;
}

.header .logo .login .login-links {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background: rgba(235, 235, 235, 1);
    border-radius: 16px;
}

.header .logo .login .login-links .login-link {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .logo .login .login-links .login-link .login-icon1 {
    max-width: 24px;
    width: 100%;
}

.header .logo .login .login-links .login-link .login-icon2 {
    display: none;
}