.input {
    display: flex;
    justify-content: left;
    gap: 24px;
}

.input .input-email {
    border: none;
    border-radius: 18px;
    max-width: 317px;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    padding: 0 14px;
    outline: none;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.59px;
    color: rgba(118, 117, 123, 1);
}

.input .button {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    max-width: 222px;
    width: 100%;
    align-items: center;
    padding: 18px 14px;
    border-radius: 18px;
    border: none;
    background: rgba(245, 250, 147, 1);
    cursor: pointer;
}

.input .button .title {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.59px;
    color: rgba(0, 0, 0, 1);
}